.jobs-bg-container{
    display: flex;
    flex-direction: row;
    padding: 50px;
    background-color: black;
    overflow: auto;
}

.profile-container{
    background-image: url("https://assets.ccbp.in/frontend/react-js/profile-bg.png");
    border-radius: 8px;
}

.profile-filters-container{
    width:220px;
    margin-right:50px;
}

.filter-heading{
    color: white;
    font-size: "Roboto";
    font-size: 15px;
}
.line-break{
    height: 0.5px;
    background-color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}

.filter-label{
    color: white;
}

.search-container{
    display: flex;
    flex-direction: row;
    border:1px solid white;
    margin-left: 40px;
    width:50%;
    
}

.search-el{
    background-color: transparent;
    border:0px;
    width:90%;
    margin:5px;
}

.search-icon-container{
    background-color: rgb(31, 30, 30);
    width:10%;
    display: flex;
    justify-content: center;
    align-items: center;
}