.home-bg-container{
    background-image: url("https://assets.ccbp.in/frontend/react-js/home-sm-bg.png");
    height:100vh;
    overflow: auto; 
    background-size: cover;
    
}

@media screen  and (min-width:768px){
    .home-bg-container{
        background-image: url("https://assets.ccbp.in/frontend/react-js/home-lg-bg.png");
    }
}


.app-info-container{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;

}

@media screen and (min-width:768px){ 
    .app-info-container{
        width:500px;
        margin-left:70px;
        margin-top: 70px;
        align-items: center;
    }
}

.app-info-heaing{
    color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:25px;
}

@media screen and (min-width:768px) {
    .app-info-heaing{
        color:white;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size:50px;
    }
}

.app-info-para{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:20px;
}


@media screen and (min-width:768px) {
    .app-info-para{
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size:20px;
    }
    
}