.header-container{
    background-color: rgb(31, 30, 30);
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:0px;
}

.header-logo-img{
    height:40px;
    width:100px;
    margin-left: 40px;
}

.nav-link{
    font-size:15px;
    text-decoration: none;
    color:white;
    font-family: 'roboto';
    margin:10px;
}

.logout-btn{
    margin-right: 40px;
    color:white;
    background-color: blue;
    padding-right:10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 2px;
    border:1px solid white;

}